@media all and (min-width: 320px) and (max-width: 480px)
{
  .footer
  {
    position: relative;
    top: 40em;
  }


  .right img
  {
    display: none;
  }

  .img-about  
  {
    display: none;
  }

  /*Work module*/
  .flex
  {
    flex: 50%;
    pad: 0 4px;
  }

  .flex-image
  {
    display: flex;
    flex-wrap: wrap;
  }

  .img
  {
    display: flex;
    width: 100%;
    height: auto;
  }

  .overlay
  {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .flex:hover .overlay
  {
    bottom: 0;
    height: 100%;
  }

  .text
  {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
 /*Work module*/

 /*Side bar toggle*/
 .openSideBar
 {
   position: fixed;
   border: transparent;
   background-color: transparent;
   display: inline;
   font-size: 30px;
   z-index: 1;
 }


  .sideBar
  {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    animation: slide-open 0.6s forwards;
    display: block;
  }

  @keyframes slide-open {
    100%{
      left: 0;
    }
  }

  .sideBar a
   {
     padding: 8px 8px 8px 8px;
     text-decoration: none;
     font-size: 25px;
     color: #212529;
     display: block;
     transform: 0.3s;      
     margin: 0 2em 0;                                              
   }     


   .sideBar .closebtn
   {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 36px;
      left: 200px;
      border: none;
      background-color: #ffffff;
   }

   .toggle
   {
     transition: margin-left .5s;
     padding: 16px;
   }
   /*Side bar toggle*/  

   /*Contacts*/
  .contact
  {
    position: relative;
    top: 55em;
    text-align: center;
  }

  .contact input[type=text], input[type=email], textarea
  {
    left: 0em;
  }

  .contact input[type=text]
  {
    border: none;
    background-color: rgb(243, 240, 240);
    padding: 8px;
  }

  .contact input[type=email]
  {
    border: none;
    background-color: rgb(243, 240, 240);
    padding: 8px;
  }

  .contact textarea
  {
    position: relative;
    top: 10em;
    width: 100%;
    border: none;
    -webkit-max-logical-width: 477px;
    background-color: rgb(243, 240, 240);
    padding: 8px;
  }

  .contact button
  {
    position: absolute;
    z-index: 1;
    top: 44em;
    right: 0em;
    margin: 0.4em auto;
    padding: 9px auto 9px;
  }

  .contact p
  {
    position: relative;
    top: 6.5em;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
  }

  .contact span
  {
    color: rgb(255, 0, 4);
  }

  .contact input
  {
    position: relative;
    top: 10em;
  }
  /*Contacts*/
}

@media all and (min-width: 1025px) and (max-width: 1280px)
{
  #about
  {
    position: relative;
    background-color: rgb(250, 250, 250);
    -webkit-margin-before: 15.5em;
    width: 100%;  
    margin: 0 auto;
    top: 2em;
  }

  .right
  {
    width: 665px;
    height: auto;
    -webkit-max-logical-width: 100%;
    -webkit-max-logical-height: auto;
  }

  .right img
  {
    height: auto;
    max-width: 100%;
    -webkit-max-logical-width: 100%;
  }
}

@media all and (min-width: 768px) and (orientation: portrait)
{
   /*Side bar toggle*/
 .openSideBar
 {
   position: fixed;
   border: transparent;
   background-color: transparent;
   display: inline;
   font-size: 30px;
   z-index: 1;
 }


  .sideBar
  {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    animation: slide-open 0.6s forwards;
    display: block;
  }

  @keyframes slide-open {
    100%{
      left: 0;
    }
  }

  .sideBar a
   {
     padding: 8px 8px 8px 8px;
     text-decoration: none;
     font-size: 25px;
     color: #212529;
     display: block;
     transform: 0.3s;      
     margin: 0 2em 0;                                              
   }     


   .sideBar .closebtn
   {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 36px;
      left: 200px;
      border: none;
      background-color: #ffffff;
   }

   .toggle
   {
     transition: margin-left .5s;
     padding: 16px;
   }
   /*Side bar toggle*/  

  .right img
  {
    display: none;
  }

  .img-about  
  {
    display: none;
  }

  .contact input[type=text], input[type=email], textarea
  {
    left: 8em;
  }

  .contact button
  {
    position: absolute;
    z-index: 1;
    top: 44em;
    right: 11em;
    margin: 0.4em auto;
    padding: 9px auto 9px;
  }

  .about-me h1
  {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 30px 0;
  }
} 

@media all and (min-width: 1024px) and (orientation: portrait)
{
  .right img
  {
    display: none;
  }

  .img-about  
  {
    display: none;
  }
  
  .about-me
  {
    position: relative;
    top: 10em;
    box-shadow: 0 0 1.5em rgba(80, 79, 79, 0.1);
    padding: 50px 50px 50px;
    -webkit-padding-end: 50px;
    -webkit-padding-start: 60px;
    -webkit-padding-before: 80px;
    margin-bottom: 16em;
  }

  .about-me h1
  {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 30px 0;
  }


  .about-me h1:nth-child(2)
  {
    padding: 0 0 20px;
  }

  .about-me p
  {
    color: #ACACAC;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 0px auto 0px;
  }
}
