@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#landingPage{
  background-color: white;
  margin-bottom: 14.1em;
}

#landingPage a{
  text-decoration: none;
}

#landingPage a:hover{
  color: #a8a1a1;
}
.work 
{
  position: relative;
  top: 20em;
  background-color: rgb(250, 250, 250);
  height: 1050px;
}

.mrg
{
  position: relative;
  top: 10em;
}

.openSideBar
{
  display: none;
}

.skills
{
  position: relative;
  top: 30px;
}

.navbar-color
{
  background-color: #181818;
}

.nav-link-color
{
  color: #737373;
}

.navbar-nav
{
  flex-direction: row;
}

a
{
  font-size: 14px;
}

nav a:hover
{
  color: #737373;
}

.footer
{
  position: relative;
  top: 19em;
}

.footer p 
{
  font-family: 'Montserrat', sans-serif;
}

.footer span
{
  color: rgb(255, 0, 4);
}

.footer-color
{
  background-color: #FAFAFA;
}
.footer a
{
  text-decoration: none;
  color: rgb(185, 174, 174);
}

.contact
{
  position: relative;
  top: 18em;
  text-align: center;
}

.contact input[type=text]
{
  border: none;
  background-color: rgb(243, 240, 240);
  padding: 8px;
}

.contact input[type=email]
{
  border: none;
  background-color: rgb(243, 240, 240);
  padding: 8px;
}

.contact textarea
{
  position: relative;
  top: 10em;
  width: 43.5%;
  border: none;
  background-color: rgb(243, 240, 240);
  padding: 8px;
}

.contact button
{
  position: absolute;
  z-index: 1;
  margin: 34em 8.8em 5em;
  padding: 9px 35px 9px;
}

.contact p
{
  position: relative;
  top: 6.5em;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
}

.contact span
{
  color: rgb(255, 0, 4);
}

.contact input
{
  position: relative;
  top: 10em;
}

.par-color
{
  color: #585A5C;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.main-info-section
{
  position: relative;
  top: 50px;
}

.btn-contact
{
  border: 3px solid #9F5E60;
  background-color: transparent;
  padding: 9px 20px 9px;
  margin: 3em 0px 0px;
  font-size: 13px;
  color: #a8a1a1;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 9em;
  margin: 8em 0;
}

.btn-contact::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top center;
  background: #9F5E60;
  z-index: -1;
  transition: transform 0.3s;
}

.btn-contact:hover::after
{
  transform: scaleY(1);
}

.btn-up
{
  position: relative;
  bottom: 5.5em;
  background-color: #9F5E60;  
  color: white;
  padding: 24px 15px 14px;
}

.btn-up:hover
{
  color: white;
  background-color: rgb(155, 70, 72); 
}



.about-me
{
  position: relative;
  top: 10em;
  box-shadow: 0 0 1.5em rgba(80, 79, 79, 0.1);
  padding: 50px 50px 50px;
  margin-bottom: 16em;
}

.about-me h1
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0 30px 0;
}


.about-me h1:nth-child(3)
{
  padding: 0 0 20px;
}

.about-me p
{
  color: #ACACAC;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding: 30px 30px 0;
}

.brand-logo
{
  position: relative;
  left: 50px;
}

.about-me img
{
  position: relative;
  z-index: 1;
  top: 60px;
  right: 6em;
  float: right;
  transform: translateX(50%);
  width: 30%;
  height: 30%;
  opacity: .5;
  color: white;
}

#about
{
  position: relative;
  top: 1.4em;
  background-color: rgb(250, 250, 250);
}

.right img
{
  height: 100vh;
  width: 109vh;
}

.about_me img
{
  position: relative;
  top: 9em;
  height: 95vh;
  width: 95vh;
}

.left img
{
  position: relative;
  top: 10em;
  height: 80vh;
  width: 85vh;
}

.line
{
  width: 22%;
  height: 3px;
  background-color: #737373;
}

.hi
{
  font-size: 50px;
}

.about
{
  position: relative;
  top: 70px;
  text-align: center;
}

.name-tag-line
{
  position: relative;
  top: 4.5em;
  margin: 0 auto;
  width: 8%;
  height: 4px;
  background-color: #737373;
}

.nav li:hover:nth-child(2):hover ~ .line
{
  transform: translate(119px);
  transition:  all .4s ease-in-out;
}

.nav li:hover:nth-child(3):hover ~ .line
{
  transform: translate(240px);
  transition:  all .4s ease-in-out;
}

.about-me-info
{
  max-width: 900px;
  box-shadow: 0 1em 1.2em rgba(0, 0, 0, 0.25);
  padding: 70px 70px 100px;
  position: relative;
  top: -80px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.right
{
  position: absolute;
  height: 10%;
  width: 10%;
}

.about-me-info p
{
  position: relative;
  margin: 0em;
  right: 50px;
  left: 10px;
  color: #252627;
}

.about-me-info p:nth-child(2)
{
  position: relative;
  top: 15px;
  color: #252627;
}

.about-me-info p:nth-child(3)
{
  position: relative;
  top: 25px;
  right: 50px;
  left: 10px;
  color: #252627;
}

.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
  position: relative;
  top: 9em;
}

/*HTML Progress Bar*/
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-Html {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

/*HTML Progress percent*/
.circle-wrap .circle .mask .fill-Html {
  clip: rect(0px, 300px, 150px, 0px);
  background-color: #9F5E60;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill-Html{
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
/*HTML Progress Bar*/


/*Css Progress Bar*/
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-CSS {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask .fill-CSS {
  clip: rect(0px, 150px, 150px, 0px);
  background-color: #c2185b;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill-CSS{
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
/*Css Progress Bar*/

/*React Progress Bar*/
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-React {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask .fill-React {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f06292;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill-React{
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
/*React Progress Bar*/

/*Node Js Progress Bar*/
.circle-wrap .circle .mask,
.circle-wrap .circle .fill-Nodejs {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask .fill-Nodejs {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ef5350;
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill-Nodejs{
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
/*Node Js Progress Bar*/

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}


@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.label
{
  position: relative;
  right: 3em;
}

/*Work module*/
.flex
{
  position: relative;
  width: 50%;
  display: flex;
}

.flex-image
{
  display: flex;
}

.img
{
  display: block;
  width: 100%;
  height: auto;
}

.overlay
{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.flex:hover .overlay
{
  bottom: 0;
  height: 100%;
}

.text
{
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*Work module*/



.sideBar 
{
  display: none;
}


@media only screen and (max-width: 990px)
{
  .right img
  {
    display: none;
  }

  .img-about  
  {
    display: none;
  }

  /*Work module*/
  .flex
  {
    flex: 50%;
    pad: 0 4px;
  }

  .flex-image
  {
    display: flex;
    flex-wrap: wrap;
  }

  .img
  {
    display: flex;
    width: 100%;
    height: auto;
  }

  .overlay
  {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .flex:hover .overlay
  {
    bottom: 0;
    height: 100%;
  }

  .text
  {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
 /*Work module*/

 /*Side bar toggle*/
 .openSideBar
 {
   position: fixed;
   border: transparent;
   background-color: white;
   display: inline;
   font-size: 30px;
   z-index: 1;
 }


  .sideBar
  {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    animation: slide-open 0.6s forwards;
    display: block;
  }


  @keyframes slide-open {
    100%{
      left: 0;
    }
  }

  .sideBar a
   {
     padding: 8px 8px 8px 8px;
     text-decoration: none;
     font-size: 25px;
     color: #212529;
     display: block;
     transform: 0.3s;      
     margin: 0 2em 0;                                              
   }     

   .closebtn
   {
     left: -100%;
   }

   .sideBar .closebtn
   {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 36px;
      left: 200px;
      border: none;
      background-color: #ffffff;
   }

   .toggle
   {
     transition: margin-left .5s;
     padding: 16px;
   }
   /*Side bar toggle*/  
   
}